@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.body {
    background-color: black;
}

.drive_main_page {
    color: white;
    background-color: black;
    height: fit-content;
}

.home {
    height: fit-content;
    /* border: 2px solid red; */
}

.header {
    display: flex;
    height: fit-content;
    /* border: 2px solid red; */
}

.drive-logo {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 10px;
    width: 10px;
    height: 54px;
    width: 136px;
    padding-left: 4px;
    margin-left: 10px;
    margin-top: 6px;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    font-size: 22px;
    color: rgb(196, 199, 197);
}

.drive-logo img {

    height: 40px;
    width: 40px;
}

.home-body {
    display: flex;
    align-items: center;
}

.left-box {
    max-width: 250px;
    min-width: 250px;
}

.right-box {
    display: flex;
    flex-wrap: wrap;
    gap: 69px;
    padding-left: 50px;
}

.pdf-card {
    display: grid;
    color: white;
    max-width: 200px;
}

.pdf-card img {
    justify-self: center;
    align-self: center;
    padding-bottom: 20px;
}